<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Google Fonts (option 1: via link) -->
    <!-- Remplace par les familles/poids souhaités -->
    <link
      rel="preconnect"
      href="https://fonts.googleapis.com"
      crossorigin
    />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Anton:wght@400&family=Roboto+Flex:wght@100;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    @viteReactRefresh()
    @vite(['inertia/app/app.tsx'])
    @inertiaHead
  </head>
  <body class="antialiased font-sans main-layout invisible-scrollbar">
    @inertia()
  </body>
</html>
